// @media (min-width:500px){
//   .nav-container{
//     min-height: calc(100vh - 64px);
//   }
// }

  .toolbar{
      background-color: rgb(56, 47, 47);
      color: white;
      position: sticky;
      z-index: 999;
      top: 0;

  }

  .spacer1{
    flex: 20 1 auto;
  }

  .spacer2{
    margin-right: 20px;
  }
  button{
    cursor: pointer;
  }

