<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="Example icon button with a home icon" (click)="navigateToGame()">
    <mat-icon>api</mat-icon>GAME
  </button>

  <span class="spacer1"></span>

  <button mat-icon-button (click)="navigateToEstatisticas()">
    <mat-icon>leaderboard</mat-icon>
  </button>

  <span class="spacer2"></span>
  <span *ngIf="loggedUser">{{'Olá, '+ loggedUser}}</span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navigateToLogin()" >
        <mat-icon>login</mat-icon>
        <span>Logar</span>
    </button>
    <button mat-menu-item (click)="navigateToCadastro()">
      <mat-icon>person_add</mat-icon>
      <span>Registrar</span>
    </button>
    <button mat-menu-item (click)="loggout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>
