
  <mat-toolbar class="toolbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80">
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="20">

        <button  mat-icon-button>
          <mat-icon>insights</mat-icon>
          Análise de Desempenho
        </button>


        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>account_circle</mat-icon>
        </button>

    </div>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Logar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span>Registrar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>




