
<div class="pagina">
  <div class="envelope">
    <h1>Faça seu Login</h1>

    <form >

      <div>
        <mat-form-field class="example-full-width" appearance="outline" style="margin-top: 20px;">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="user" >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password"  type="password">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="button-login">Login</button>

    </form>
  </div>
</div>





